.card {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;

    @media (min-width: 575px) {
        width: 60%;
    }
}

.img {
    margin-right: 1rem;

    @media (min-width: 575px) {
        margin-left: auto;
        margin-right: auto;
        height: 80vh;
        width: fit-content;
    }

    @media (max-width: (575px - 1px)) {
        margin-bottom: 1rem;
        width: 30%;
        height: fit-content;
    }
}

.name {
    font-weight: 600;
    color: var(--color-primary);

    @media (max-width: (768px - 1px)) {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    @media (min-width: 768px) {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}

.descriptionDesktop {

    @media (max-width: (768px - 1px)) {
        display: none;
    }

    @media (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.descriptionMobile {

    @media (max-width: (768px - 1px)) {
        font-size: 1.2rem;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.propertyDiv {
    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.propertyUl {
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.property,
.propertyName {
    font-weight: 500;

    @media (max-width: (768px - 1px)) {
        font-size: 1.2rem;
    }

    @media (min-width: 768px) {
        font-size: 2rem;
    }
}

.propertyName {
    color: var(--color-primary);
}

.ul {
    list-style-position: inside;

    @media (max-width: (768px - 1px)) {
        font-size: 1rem;
    }

    @media (min-width: 768px) {
        font-size: 1.5rem;
    }
}