.button {
    text-decoration: none;
    padding: 0.8rem 1.3rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    background-color: var(--white);
    color: var(--color-primary);

    &:hover {
        color: var(--white);
        background-color: var(--color-primary);
        text-decoration: none;
    }

    &:disabled {
        color: var(--gray-dark);
        pointer-events: none;
        border: 1px solid var(--gray-dark);
        background-color: var(--gray-light);
    }
}