.card {
    position: relative;
    background-color: var(--white);
    padding: 2rem 2rem;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
        transform: scale(1.05, 1.05);
    }

    ::after {
        content: "";
        border-radius: 20px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: all 0.6s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

.img {
    margin-right: 2rem;

    @media (min-width: 575px) {
        width: fit-content;
        height: 280px;
    }

    @media (max-width: (575px - 1px)) {
        height: 200px;
    }
}

.name {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-primary);
}

.description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.link {
    font-size: 1.2rem;
    color: var(--color-primary);
    font-weight: 500;

    &:hover {
        color: var(--black);
    }
}